body {
    background-image: linear-gradient(to left,#42275a, #734b6d);
    background-repeat: no-repeat;
    color: aliceblue;
}

h1 {
    font-family: 'Bruno Ace SC', cursive;
    text-shadow: 3px 3px #111;
    text-size-adjust: 65px;
}

h2 {
    font-family: 'Bruno Ace SC', cursive;
    text-shadow: 3px 3px #111;
    text-align: center;
    text-size-adjust: 50px;
}

img {
    max-width: 50%;
}

.header {
    font-family: 'Bruno Ace SC', cursive;
    background-color: #0e0d0d;
}

.panel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.panel a:hover {
    color: #f1f1f1;
}
  
.panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color:#444;
}

.center-text {
    text-align: center;
}

.proj-title {
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
}

.proj-img {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

a {
    transition: background-color 0.5s;
    color: aliceblue;
    margin-bottom: 100px;
}

a:hover {
    background-color: #818181;
}

footer {
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

@media screen and (max-width:992px) {
    img {
        width: 75%;
    }   
}